/* Sizes:
  0    <= size <= 600  Phone
  600  <= size <= 960  Tablet
  960  <= size <= 1200 Tablet-Landscape
  1200 <= size         PC
*/
.navbar .md-button {
  height: 64px;
  font-size: 1em;
}

.navbar .dropdown-menu {
  margin-top: -1px;
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px 0px;
  -ms-border-radius: 0px 0px;
  -o-border-radius: 0px 0px;
  border-radius: 0px 0px;
}

.navbar .brand {
  height: 64px;
  padding: 20px 0;
}
