<div flex>
	<div>
		<md-toolbar 
			class="md-primary md-hue-2" 
			layout layout-align="center center" 
			style="min-height: 48px;"
		>
			<span>{{vm.msg.user.name}}</span>
		</md-toolbar>
	</div>

	<div>
		<ul 
			id="chatbox" 
			class="discussion m_message" 
			upward-scroll="vm.loadMore()" 
			scroll="vm.newMsgs.length"
			style="bottom: 65px; margin: 0;"
		>
			<li 
				ng-class="{true: 'self', false: 'other'}[history.sender_uid === {{ vm.msg.receiver_uid }}]" 
				ng-repeat="history in vm.history"
			>
				<div 
					class="avatar" 
					ng-click="vm.onClickUser(history.sender_uid)" 
					ng-show="(history.sender_uid !== {{ vm.msg.receiver_uid }})" 
					style="cursor:pointer;"
				>
					<img ng-src="{{vm.msg.user.photo_path}}" />
				</div>
				<div class="messages">
					<p class="content">{{ history.content }}</p>
					<md-tooltip>{{ history.time }}</md-tooltip>
				</div>
			</li>
		</ul>
	</div>

	<div 
		style="background-color: white; position: fixed; bottom: 0; width: 100%; box-shadow: 0 3px 3px 3px rgba(0,0,0,0.15); padding-top: 5px; margin-bottom: -15px;"
	>
			<md-input-container 
				style="margin: 0; width: 70%; "
			>
				<label style="color: black;">回覆訊息...</label>
				<textarea 
					type="string" 
					ng-model="vm.contents" 
					columns="10"
					style="margin-top: 18px;"
				>
				</textarea>
			</md-input-container>

			<input 
				style="width: 25%; vertical-align: bottom; margin-bottom: 26px;"
				class="md-button md-primary md-raised" 
				ng-disabled="!vm.contents.length" 
				ng-click="vm.submit(vm.contents)" 
				value="送出" 
			></input>
	</div>
</div>
