<md-toolbar ng-show="instance">
	<div flex class="md-toolbar-tools" layout layout-align="center center">
		<span flex></span>
		<md-button class="md-icon-button" ng-click="vm.closePopup()">
			<md-icon md-font-set="material-icons" aria-label="Close dialog">close</md-icon>
		</md-button>
	</div>
</md-toolbar>
<md-content style="overflow-x:hidden;">
	<div layout="column" layout-align="center center" layout-fill>
		<div layout="column" style="min-width:400px; padding:20px 60px; border-radius: 12px; margin:40px;">
			<div style="text-align:center; font-size:24px;">註冊 ExchangeWorld 帳號</div>
			<div layout layout-align="center center" style="margin-top:20px;">
				<md-button style="width:80%;background-color: #3B5998; color:#fff;" ng-click="vm.signupFb()">
					<i class="fa fa-facebook"></i> Facebook 快速註冊
				</md-button>
			</div>
			<br/>
			<br/>
			<div layout layout-align="center center" ng-show="!vm.normalSignup">
				<md-button class="md-primary md-raised" style="width:80%;" ng-click="vm.normalSignup = 1">
					<i class="fa fa-envelope"></i> 信箱註冊
				</md-button>
			</div>
			<div layout="column" ng-show="vm.normalSignup" style="width:80%; margin:0 auto;">
				<md-input-container class="signup">
					<label style="color:#000;">帳號(電子郵件信箱)</label>
					<input type="text" ng-model="vm.form.id" required>
				</md-input-container>
				<md-input-container class="signup">
					<label style="color:#000;">暱稱 </label>
					<input type="text" ng-model="vm.form.name" required>
				</md-input-container>
				<md-input-container class="signup">
					<label style="color:#000;">密碼</label>
					<input type="password" name="password" ng-model="vm.form.pwd" required>
				</md-input-container>
				<md-input-container class="signup">
					<label style="color:#000;">確認密碼</label>
					<input type="password" name="password" ng-model="vm.form.pwd2" ng-keyup="$event.keyCode === 13 ? vm.login(false) : null" required>
				</md-input-container>
			</div>
			<div layout layout-align="center center" ng-show="vm.normalSignup">
				<md-button class="md-primary md-raised" style="width:80%;" ng-click="vm.signup()">
					<i class="fa fa-user-plus"></i> 立即加入
				</md-button>
			</div>
			<div ng-click="vm.goLogin()" layout layout-align="end end" style="padding-top: 3%;padding-right:10%; cursor:pointer; font-size: 14px; color: #555; text-decoration: underline;">
				已有帳號？
			</div>
		</div>
	</div>
</md-content>
