{
  "rules": {
      "comma-dangle": 0,
      "semi": [2, "always"],
      "no-console": 1,
      "no-unused-vars": [1, {"vars": "all", "args": "none"}],
      "no-dupe-keys": 2,
      "no-dupe-args": 2,
      "radix": 1,

      "one-var": [1,  {
          "uninitialized": "always",
          "initialized": "never"
      }]
  },

  "ecmaFeatures": {
    "arrowFunctions" : true,
    "blockBindings": true,
    "classes" : true,
    "defaultParams" : true,
    "destructuring" : true,
    "generators" : true,
    "modules" : true,
    "forOf": true,
    "restParams" : true,
    "spread" : true,
    "templateStrings" : true,
    "unicodeCodePointEscapes" : true
  },
  "parser" : "babel-eslint",
  "extends": "eslint:recommended",
  "env" : {
    "browser" : true,
    "node" : true,
    "jasmine" : true
  }
}
