# Created by http://gitignore.io

### Project ###
/heroku.config
/heroku.local.config
/include/connect.php
include/connect.php

### Python ###
*.py[cod]

# C extensions
*.so

# Packages
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject


### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


### vim ###
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
### customize ###
/UI
/include
images/database/image.png
images/456.JPG
images/alarm.png
images/C11.jpg
images/database/C11.jpg
images/database/imac.jpg
images/database/iphone5c-selection-hero-2013.png
images/database/iwatch.jpg
images/database/ngc7000.jpg
images/imac.jpg
images/image.png
images/iphone5c-selection-hero-2013.png
images/iwatch.jpg
images/m20.jpg
images/m31.jpg
images/monkey.jpg
images/ngc7000.jpg