<h3>GOODS</h3>
<div ng-repeat="goods in vm.goodsData">
    <img ng-src="{{ goods.photoPath }}" alt="..." class="img-rounded" style="width:100%"></img>
    <h4>gid = {{ goods.gid }}</h4>
    <h4>gname = {{ goods.gname }}</h4>
    <h4>Categories = {{ goods.categories }}</h4>
    <h4>description = {{ goods.description}}</h4>
    <h4 ng-click="vm.onClickUser( goods.user.fb_id )">owner = <a>{{ goods.user.username }}</a></h4>
	<p>----------以下為留言區-----------</p>
	<div ng-repeat="comments in goods.comments">
		<h4><a ng-click="vm.onClickUser( comments.commenter )">{{ comments.commenter }}</a> say: {{ comments.comment }}</h4>
	</div>
</div>
