<h3>GOODS</h3>
<!--<h4>{{ goodsProps.gid }}</h4>-->
<!--<h4>{{ goodsProps.gname }}</h4>-->
<!--<h4>{{ test }}</h4>-->
<div ng-repeat="prop in goodsProps">
    <img ng-src="{{ prop.photoPath }}" alt="..." class="img-rounded" style="width:100%"></img>
    <h4>gid = {{ prop.gid }}</h4>
    <h4>gname = {{ prop.gname }}</h4>
    <h4>Categories = {{ prop.categories }}</h4>
    <h4>description = {{ prop.description}}</h4>
    <h4 ng-click="action( prop.user.fb_id )">owner = <a>{{ prop.user.username }}</a></h4>
	<p>----------以下為留言區-----------</p>
	<div ng-repeat="comments in prop.comments">
		<h4><a ng-click="action( comments.commenter )">{{ comments.commenter }}</a> say: {{ comments.comment }}</h4>
	</div>
</div>
