<map center="{{coords}}" 
     zoom="17"
     draggable-cursor="default"
     dragging-cursor="default"
     disable-double-click-zoom="true"
     pan-control="false"
     zoom-control-options="{position:'TOP_RIGHT'}"
     map-maker="false"
     street-view-control="false"
     scale-control="false"
     overview-map-control="false"
     map-type-control="false"
     styles="{{mapStyle}}" 
     resize ng-style="resizeWithOffset(64)">
    
    <custom-control id="autocomplete" position="TOP_LEFT" index="1">
          <input places-auto-complete size="50" 
              
              on-place-changed="placeChanged(place)" />
    </custom-control>
<!--
     <input places-auto-complete size="80" 
      ng-model="address" 
      component-restrictions="{country:'us'}"
      types="{{types}}"
      on-place-changed="placeChanged(place)" />
-->
</map>