<md-toolbar class="md-primary" ng-controller="NavbarCtrl as vm" >
  <div class="md-toolbar-tools md-medium-tall navbar">
    <span hide-md hide-sm flex="25" class="brand"><a href="#/" ng-click="vm.onClick(0)">ExchangeWorld</a></span>

    <md-button flex="10" href="#/seek" ng-click="vm.onClick(1)" ng-class="{'active': vm.contentIs(1)}">
      <i class="fa fa-search fa-fw" ng-class="{'fa-lg': windowWidth>400}"></i>
      <span hide-md hide-sm>SEEK</span>
    </md-button>

    <md-button flex="10" href="#/post" ng-click="vm.onClick(2)" ng-class="{'active': vm.contentIs(2)}">
      <i class="fa fa-plus fa-fw" ng-class="{'fa-lg': windowWidth>400}"></i>
      <span hide-md hide-sm>POST</span>
    </md-button>

    <md-button flex="10" href="#/manage" ng-click="vm.onClick(3)" ng-class="{'active': vm.contentIs(3)}">
      <i class="fa fa-compass fa-fw" ng-class="{'fa-lg': windowWidth>400}"></i>
      <span hide-md hide-sm>Manage</span>
    </md-button>

<!--
    <md-button flex="10">
      <i class="fa fa-info-circle fa-fw" ng-class="{'fa-lg': windowWidth>400}"></i>
      <span hide-md hide-sm>Help</span>
    </md-button>
-->

    <span flex="30"></span>

    <div flex ng-controller="DropdownCtrl as vm" class="btn-group" dropdown is-open="vm.status.isopen">
      <md-button ng-click="vm.toggleDropdown($event)">Username</md-button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#/profile" ng-click="vm.onClick(4)">Profile</a></li>
        <li class="divider"></li>
        <li><a href>Log Out</a></li>
      </ul>
    </div>

    <span flex="5"></span>

  </div>
</md-toolbar>
