<div class="row" style="background-color: silver; padding-top: 0px; margin-top: 15px">
  <div class="col-md-5 fancybox" href="' + response[0][" photoPath "] + '">
    <img src="' + response[0][" photoPath "] + '" class="img-thumbnail" alt="...">
  </div>
  <div class="col-md-7">
    <div style="margin-top:50px;">
      <h2>' + response[0]["username"] + '</h2>
    </div>
  </div>
</div>
<div class="row" style="background-color: silver; padding-top: 0px; margin-top: 10px; font-size: 85%">
  <div class="col-md-12">
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="userBtn" data-value="' + response[0][" fb_id "] + '" style="display:none" id="add"><a href="#">Follow + </a>
      </li>
      <li role="presentation" class="active  userBtn" id="following">
        <a href="#">Following <span class="badge" id="bdgfollowing">' + response[1]["followingCount"] + '</span></a>
      </li>
      <li role="presentation" class="active  userBtn" id="follower">
        <a href="#">Follower <span class="badge" id="bdgfollower">' + response[2]["followerCount"] + '</span></a>
      </li>
    </ul>
  </div>
</div>
<div class="row" style="background-color: silver; padding-top: 0px; margin-top: 15px; font-size: 85%">

  <div class="col-md-12" style="padding: 0px">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Exchanging</h3>
      </div>
      <div id="Exchanging" class="panel-body "></div>
    </div>
    <div class="panel panel-info" style="margin-top: 15px">
      <div class="panel-heading">
        <h3 class="panel-title">Exchanged</h3>
      </div>
      <div id="Exchanged" class="panel-body"></div>
    </div>
  </div>

  <div class="col-md-3 searchResult" style="padding: 0px; padding-top: 0px; padding-bottom: 0px; border: 0px; background: #fff; margin: 0px;" data-value="' + response[i][" gid "] + '">
    <img src="' + response[i][" photoPath "] + '" width="100" height="100" style="max-width: 100%; height: auto;" class="img-thumbnail" alt="...">
  </div>
