/* Sizes:
  0    <= size <= 600  Phone
  600  <= size <= 960  Tablet
  960  <= size <= 1200 Tablet-Landscape
  1200 <= size         PC
*/

//Layout
$sm: 600px;
$md: 960px;
$lg: 1280px;
$navbar-height: 56px;

//Color
$ripple-color: rgba(255, 255, 255, 0.15);
$accent-color: rgb(244, 67, 54);
$warn-color: rgb(244, 67, 54);

@import "modules/all";