.discussion {
    list-style: none;
    background: #e5e5e5;
    margin: 0;
    height: 350px;
    padding: 0 0 20px 0; // finality
    overflow-y: auto;
    li {
        padding: 0.5rem;
        overflow: hidden;
        display: flex;
    }
    .avatar {
        width: 40px;
        position: relative;
        img {
            display: block;
            width: 40px;
        }
    }
    &.input {
        background: #fff;
        border: 1px ridge #cdd4d8;
        height: 50px;
        padding: 0;
        overflow-y: hidden;
    }
}

.other {
    .avatar {
        margin-right: 5px;
        &:after {
            border: 5px solid white;
            border-left-color: transparent;
            border-bottom-color: transparent;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 0;
        }
    }
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
    .messages {
        order: 1;
        border-bottom-right-radius: 0;
        display: flex;
    }
    .avatar {
        margin-left: 5px;
        order: 2;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            border: 5px solid white;
            border-right-color: transparent;
            border-top-color: transparent;
            box-shadow: 1px 1px 2px rgba(black, 0.2);
        }
    }
}

.messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(black, 0.2);
    max-width: 300px;
    display: flex;
    .content {
        font-size: 14px;
        margin: 0 0 2px 0;
        word-break: break-all;
    }
    .time {
        font-size: 10px;
        color: #ccc;
    }
}
