body {
  overflow: hidden;
}

#container {
  margin-top: -$navbar-height;
  padding-top: $navbar-height;
}

md-toolbar{
  z-index: 1000;
}

#autocomplete {
  margin-left: 20px;
  margin-top: 5px;

  input {
    margin-left: 25px;
    ::placeholder {
      color: #fff;
    }
  }
}

.circular {
    background-position: center;
    max-width: 150px;
    max-height: 150px;
    background-size: cover;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
