.hvr-box-shadow-outset {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: box-shadow;
    &:hover,
    &:focus,
    &:active {
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    }
}

.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    font-smoothing: grayscale;
    &:hover,
    &:focus,
    &:active {
        animation-name: hvr-pulse;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    margin-bottom: 10px;
    &:hover,
    &:focus,
    &:active {
        transform: scale(1.05);
    }
}
