map {
	.radius-button {
		border-radius: 100%;
		height: 56px;
		width: 56px;
		box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.26);
	}
}

.map-container {
	position: absolute;
	top: $navbar-height;
	bottom: 0;
	right: 0;
	left: 45%;
}

@media screen and (max-width: $md) {
	.map-container {
		left: 0;
	}
}

.marker {
   position: absolute;
   box-sizing: border-box;
   border-style: solid;
   border-width: 2px;
   border-color: #388dc1;
   background-color: white;
   cursor: pointer;
   will-change: background-color;
   transition: background-color 0.1s cubic-bezier(.23,.89,.71,.39);
   user-select: none;

   img {
     width: 80%;
     height: auto;
     margin: 5px;
     position: absolute;
     user-select: none;
   }
}

.marker:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 100%;
    margin-left: -33px;
    width: 0;
    height: 0;
    border-top: solid 15px #388dc1;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}
