div:focus {
  outline:0;
}

img:focus {
  outline:0;
}

.navbar
{
  .dropdown-menu{
    margin-top: -1px;
    border-radius: 0;
  }
}

@media (min-width: $md) {
  md-sidenav,
  md-sidenav.md-locked-open,
  md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 470px !important;
    width: 50vw !important;
    max-width: none !important;
  }
}

@media (max-width: $md) {
  md-sidenav,
  md-sidenav.md-locked-open,
  md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 80vw !important;
    max-width: none !important;
  }
}
