<md-content resize ng-style="resizeWithOffset(56)" style="overflow-y: scroll;">
	<div layout="row" class="profile-top md-whiteframe-z1" layout-align="center center">
		<div layout layout-align="center center" class="img-profile" ng-style="{'background-image':'url({{ vm.me.photo_path }})'}">
			<a layout layout-align="center center" ng-click="vm.editPhoto()" class="uploadHead">
				<i class="material-icons" style="font-size:64px;">camera_alt</i>
			</a>
		</div>
		<div layout="column" class="profile-right">
			<div layout="column">
				<div layout="row" layout-align="start center" style="margin-left:25px;">
					<h4 class="md-headline" style="margin:8px 0; text-align: center;">{{ vm.me.name }}</h4>
					<!-- <div layout="row" layout-align="end end">
						<p class="md-subhead text-ex reset-follow hide-i5" style="padding-top:3px;">積分：{{ vm.me.scores }}</p>
					</div> -->
				</div>
				<div layout="row" layout-xs="column" layout-align="start center" layout-align-xs="start start" style="margin-left:15px;">
					<div layout="row" layout-align="center center" class="note profile">
						<p class="md-title text-ex follow reset-follow">追隨中</p>
						<a ng-click="vm.onClickFollow(vm.me.uid, 'following')">{{ vm.me.follows_follower.length }}</a>
					</div>
					<div layout="row" layout-align="center center" class="note profile">
						<p class="md-title text-ex follow reset-follow">被追蹤</p>
						<a ng-click="vm.onClickFollow(vm.me.uid, 'follower')">{{ vm.me.follows_followed.length }}</a>
					</div>
				</div>
			</div>
			<div layout="row" layout-align="center center" style="margin-left:10px;margin-top: 10px;">
				<span flex="10"></span>
			</div>
		</div>
	</div>
	<md-tabs md-dynamic-height md-center-tabs md-swipe-content md-no-ink>
		<md-tab label="願望清單({{ vm.me.myStarGoods.length }})">
			<md-divider></md-divider>
			<div flex layout layout-align="center center" ng-show="vm.me.myStarGoods.length === 0">
				<img class="img-null" src="../../images/emoji_null.png">
			</div>
			<div class="grid-wrapper">
				<div class="grid__columns">
					<div ng-repeat="card in vm.me.myStarGoods">
						<md-card class="md-whiteframe-z4 item card">
							<a ng-href="/seek/{{card.gid}}" ng-mouseenter="onMouseOver(card.gid)" ng-mouseleave="onMouseOut(card.gid)">
								<img width="300" data-ng-src="{{card.photo_path[0]}}" class="md-card-image card-img">
								<div layout="row" layout-align="start center">
									<div style="padding-left:10px; padding-top:5px; width:100%;">
										<img data-ng-src="../../images/icon/{{card.category}}.svg" style="height:24px; width:auto; position:relative; top:4px; float:left; margin-right:3px;" />
										<h2 class="seek-title"> {{card.name}} </h2>
									</div>
								</div>
								<div layout="row" layout-align="start center" style="margin:0; padding-left: 10px; padding-bottom: 15px;">
									<div flex layout layout-align="start center" class="card-info">
										<i class="material-icons person" style="outline:0; margin-right:0px; font-size:20px;">person</i>
										<span style="font-size: 14px;text-overflow: ellipsis;display: inline-block;white-space: nowrap;overflow: hidden;">{{ card.owner.name }}</span>
									</div>
								</div>
							</a>
						</md-card>
					</div>
				</div>
			</div>
		</md-tab>
		<md-tab label="等待交換({{ vm.myGoodsPending.length }})">
			<md-divider></md-divider>
			<md-content layout-padding>
				<div flex layout layout-align="center center" ng-show="vm.myGoodsPending.length === 0">
					<img class="img-null" src="../../images/emoji_null.png">
				</div>
				<div class="grid-wrapper">
					<div class="grid__columns">
						<div ng-repeat="card in vm.myGoodsPending">
							<md-card class="md-whiteframe-z4 item card">
								<a ng-href="/seek/{{card.gid}}" ng-mouseenter="onMouseOver(card.gid)" ng-mouseleave="onMouseOut(card.gid)">
									<img width="300" data-ng-src="{{card.photo_path[0]}}" class="md-card-image card-img">
									<div layout="row" layout-align="start center">
										<div style="padding-left:10px; padding-top:5px; width:100%;">
											<img data-ng-src="../../images/icon/{{card.category}}.svg" style="height:24px; width:auto; position:relative; top:4px; float:left; margin-right:3px;" />
											<h2 class="seek-title"> {{card.name}} </h2>
										</div>
									</div>
									<div layout="row" layout-align="start center" style="margin:0; padding-left: 10px; padding-bottom: 15px;">
										<div flex layout layout-align="start center" class="card-info">
											<i class="material-icons description" style="outline:0; margin-right:0px; font-size:20px;">description</i>
											<span style="font-size: 14px;text-overflow: ellipsis;display: inline-block;white-space: nowrap;overflow: hidden;">{{ card.description }}</span>
										</div>
									</div>
								</a>
							</md-card>
						</div>
					</div>
				</div>
			</md-content>
		</md-tab>
		<md-tab label="已交換({{ vm.myGoodsExchanged.length }})">
			<md-divider></md-divider>
			<md-content layout-padding>
				<div flex layout layout-align="center center" ng-show="vm.myGoodsExchanged.length === 0">
					<img class="img-null" src="../../images/emoji_null.png">
				</div>
				<div class="grid-wrapper">
					<div class="grid__columns">
						<div ng-repeat="card in vm.myGoodsExchanged">
							<md-card class="md-whiteframe-z4 item card">
								<a ng-href="/seek/{{card.gid}}" ng-mouseenter="onMouseOver(card.gid)" ng-mouseleave="onMouseOut(card.gid)">
									<img width="300" data-ng-src="{{card.photo_path[0]}}" class="md-card-image card-img">
									<div layout="row" layout-align="start center">
										<div style="padding-left:10px; padding-top:5px; width:100%;">
											<img data-ng-src="../../images/icon/{{card.category}}.svg" style="height:24px; width:auto; position:relative; top:4px; float:left; margin-right:3px;" />
											<h2 class="seek-title"> {{card.name}} </h2>
										</div>
									</div>
									<div layout="row" layout-align="start center" style="margin:0; padding-left: 10px; padding-bottom: 15px;">
										<div layout layout-align="center start">
											<div ng-repeat="n in vm.getNumber(card.rate) track by $index">
												<img src="../../images/star-on.svg" />
											</div>
											<div ng-repeat="n in vm.getNumber(5 - card.rate) track by $index">
												<img src="../../images/star-off.svg" />
											</div>
										</div>
									</div>
								</a>
							</md-card>
						</div>
					</div>
				</div>
			</md-content>
		</md-tab>
		<md-tab label="交換請求(1)">
			<md-divider></md-divider>
			<md-card class="md-whiteframe-z3 item-profile exchange">
				<md-card-content layout="column">
					<div layout="row" layout-align="start end" style=" height:120px; width:auto; border-radius:10px;">
						<img src="../../images/Gift(Small).jpg" style="max-width: 100%; max-height:100%; cursor:pointer;" />
						<div layout="column" layout-align="start start" style="margin-left: 20px;">
							<h2 style="margin: 10px 0;">A little thing</h2>
							<div layout="row" layout-xs="column" layout-algin="center center">
								<div layout="row">
									<i class="material-icons person" style="outline:0; margin-right:0px; font-size:20px;">person</i>
									<p class="md-subhead" style="margin:0 5px 0 0;">LonSilent</p>
								</div>
								<div layout="row">
									<img data-ng-src="../../images/icon/Textbooks.svg" style="height:20px; width:auto; margin-right:3px;" />
									<p class="md-subhead" style="margin:0;">教科書</p>
								</div>
							</div>
						</div>
					</div>
					<div layout="column" offset-gt-sm="5" flex-gt-sm="55" layout-gt-sm="row">
						<md-radio-group ng-model="exchange.group" layout-fill layout="row" layout-xs="column">
							<div flex="100" flex-gt-sm="50" layout layout-align="center center">
								<p class="md-subhead">Lorem ipsum dolor sit amet!</p>
							</div>
							<div flex="100" flex-gt-sm="50" layout="row" layout-align="center center">
								<div flex="70">
									<p>Annie Brown</p>
								</div>
								<md-radio-button value="haha">
								</md-radio-button>
							</div>
						</md-radio-group>
					</div>
				</md-card-content>
				<md-card-actions layout="row">
					<span flex-gt-xs="5"></span>
					<md-button>
						<span class="md-title">取消這個交換</span>
					</md-button>
					<span flex></span>
					<md-button>
						<span class="md-title">確認這個交換</span>
					</md-button>
					<span flex-gt-xs="5"></span>
				</md-card-actions>
			</md-card>
		</md-tab>
		<md-tab label="歷史紀錄(1)">
			<md-divider></md-divider>
			<md-card class="md-whiteframe-z3 item-profile exchange">
				<md-card-content layout-gt-sm="column">
					<div layout layout-align="start end" style=" height:120px; width:auto; border-radius:10px;">
						<img src="../../images/Gift(Small).jpg" style="max-width: 100%; max-height:100%; cursor:pointer;" />
						<div layout="column" layout-align="start start" style="margin-left: 20px;">
							<h2 style="margin: 10px 0;">A little thing</h2>
							<div layout="row" layout-xs="column" layout-algin="center center">
								<div layout="row">
									<i class="material-icons person" style="outline:0; margin-right:0px; font-size:20px;">person</i>
									<p class="md-subhead" style="margin:0 5px 0 0;">LonSilent</p>
								</div>
								<div layout="row">
									<img data-ng-src="../../images/icon/Textbooks.svg" style="height:20px; width:auto; margin-right:3px;" />
									<p class="md-subhead" style="margin:0;">教科書</p>
								</div>
							</div>
						</div>
					</div>
					<div layout="column" offset-gt-sm="5" flex-gt-sm="55" layout-gt-sm="row">
						<div flex="50" layout layout-align="center center">
							<p class="md-subhead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint aut dolores nisi fugit cumque. Itaque quae, dolor sequi dolore voluptate totam, dolores, delectus, illum vel voluptatem fugit placeat officia harum!</p>
						</div>
						<div flex="50" layout layout-align="center center">
							<p>Annie Brown</p>
						</div>
					</div>
				</md-card-content>
				<md-card-actions layout="row" layout-xs="column">
					<span flex-gt-xs="5"></span>
					<md-button>
						<span class="md-title">交換成功，給個星評吧</span></md-button>
					<span flex></span>
					<div layout="row" layout-align="center center" style="margin:0; padding-left: 10px; padding-bottom: 15px;">
						<div layout layout-align="center start">
							<div ng-repeat="n in vm.getNumber(card.rate) track by $index">
								<img src="../../images/star-on.svg" />
							</div>
							<div ng-repeat="n in vm.getNumber(5 - card.rate) track by $index">
								<img src="../../images/star-off.svg" />
							</div>
						</div>
					</div>
					<span flex-gt-xs="10"></span>
				</md-card-actions>
			</md-card>
		</md-tab>
	</md-tabs>
</md-content>
