<md-toolbar class="md-primary md-hue-3 md-whiteframe-z2" style="height: 76px;">
	<!-- search input bar & button -->
	<div layout="row">
		<md-input-container flex="45" flex-sm="35" class="md-primary" style="padding-left: 10px;">
			<label>Search</label>
			<input ng-model="vm.searchGoodsName" aria-label="goodsName">
		</md-input-container>
		<md-input-container flex>
			<label>種類</label>
			<md-select ng-model="vm.searchGoodsCategory" aria-label="cate">
				<md-option ng-repeat="cate in vm.availableCategory" value="{{cate.label}}">{{cate.label}}</md-option>
			</md-select>
		</md-input-container>
		<md-switch flex="15" ng-model="vm.searchWithBound" aria-label="searchWithBound" style="font-size: 10px;">
			<md-tooltip>搜尋視界內物品/搜尋全世界</md-tooltip>
			<span hide-sm>{{ vm.searchWithBound ? '視界內' : '全域' }}</span>
		</md-switch>
		<md-button flex flex-sm class="md-accent md-raised md-hue-1 seek_btn" ng-click="vm.onSearch({name:vm.searchGoodsName, category:vm.searchGoodsCategory, bound:vm.searchWithBound ? vm.mapBound : ''})">
			<md-icon hide-sm md-font-set="material-icons">search</md-icon><span class="ng-scope">搜索!</span>
		</md-button>
	</div>
</md-toolbar>
<md-content resize ng-style="resizeWithOffset(140)">
	<div ng-show="loading" style="width: 65px; margin: 0 auto; margin-top:200px">
		<md-progress-circular class="md-warn md-hue-2" md-mode='indeterminate'></md-progress-circular>
	</div>
	<div class="md-padding"></div>
	<div layout layout-align="center center" ng-hide="vm.goods.length" style="width:100%;height:90%">
		<img class="img-null onseek" src="../../images/emoji_null.png">
	</div>
	<div deckgrid class="deckgrid" source="vm.goods">
		<md-card class="md-whiteframe-z3 item hvr-grow" style="cursor:pointer;">
			<div ng-click="mother.onClickGoods(card.gid)" ng-mouseenter="mother.onMouseOver(card.gid)" ng-mouseleave="mother.onMouseOut()">
				<h2 class="md-title" style="margin:0 0 10px 0;">{{card.name}}</h2>
				<photoslider images="card.photo_path" class="md-card-image"></photoslider>
				<md-card-content style="padding: 0.8em 0;">
					<div layout="column">
						<div layout="row" style="margin:5px 0;">
							<div flex layout="row" layout-align="center center">
								<i ng-click="mother.onClickFavorite($event, card)" ng-show="card.favorited" class="material-icons heart">favorite</i>
								<i ng-click="mother.onClickFavorite($event, card)" ng-hide="card.favorited" class="material-icons heart">favorite_border</i>
								<img src="../../images/icon/icon-book.png" ng-show="card.category === 'Books'" style="height:24px; width:auto;">
								<img src="../../images/icon/icon-school.svg" ng-show="card.category === 'Textbooks'" style="height:24px; width:auto;">
								<img src="../../images/icon/icon-cloth.png" ng-show="card.category === 'Clothes'" style="height:24px; width:auto;">
								<img src="../../images/icon/icon-phone.svg" ng-show="card.category === '3C'" style="height:24px; width:auto;">
								<img src="../../images/icon/icon-other.svg" ng-show="card.category === 'Others'" style="height:24px; width:auto;">
							</div>
							<div flex layout layout-align="center center">
								<img class="circle" data-ng-src="{{card.user.photo_path}}">
							</div>
						</div>
					</div>
				</md-card-content>
			</div>
		</md-card>
	</div>
</md-content>

