.navbar
{
  .dropdown-menu{
    margin-top: -1px;
    @include border-radius(0px 0px);
  }
}


  .md-locked-open
  {
    min-width: 300px !important;
    width: 25.5vw !important;
    max-width: 80vw !important;
    md-sidenav &{
      min-width: 300px !important;
      width: 25.5vw !important;
      max-width: 80vw !important;
    }

  }
