<form novalidate ng-submit="vm.onSubmit()" resize ng-style="resizeWithOffset(56)" style="overflow-y: hidden;">
	<md-content style="overflow: hidden; display: block; background-color: #EEEEEE; margin:8px; padding:8px; height: 100%;">
		<div class="input-post" layout="row" layout-align="center center">
			<span style="padding-bottom:13px;margin-right: 8px;">名稱</span>
			<md-input-container flex>
				<input type="text" ng-model="vm.goodsName" aria-label="goodsName" md-maxlength="10" required>
			</md-input-container>
		</div>
		<div class="input-post cate" layout="row" layout-align="center center">
			<span style="padding-top: 7px; margin-right: 8px;">類別</span>
			<md-input-container flex>
				<md-select ng-model="vm.goodsCategory" ng-change="vm.onCategoryChanged(vm.goodsCategory)" aria-label="good.cate">
					<md-option ng-repeat="cate in vm.availableCategory" value="{{cate.label}}" required>
						{{cate.alias}}
					</md-option>
				</md-select>
			</md-input-container>
		</div>
		<div class="input-post desc" layout="row" layout-align="center center" style="height:60px; ">
			<span style="padding-bottom: 17px; margin-right: 8px;">敘述</span>
			<md-input-container flex>
				<textarea type="string" ng-model="vm.goodsDescriptions" aria-label="goodsDescriptions" columns="10" md-maxlength="500" required></textarea>
			</md-input-container>
		</div>
		<div layout="row" layout-align="start center" style="margin-bottom: 0px; height: 20px;">
			<p hide-xs>照片</p>
		</div>
		<div layout="row" layout-wrap layout-align="center center">
			<div layout layout-align="center center" ng-repeat="preview in vm.imgEncoded" style="background-color: #F5F5F5; border: 1px; position: relative; height:100px; width:100px;" class="hvr-upload" ng-mouseover="vm.removeMode=true" ng-mouseleave="vm.removeMode=false">
				<img class="img-preview" id="img_{{$index}}" data-ng-src="data:image/png;base64,{{preview.base64}}" />
				<div class="cross onpost" ng-show="vm.removeMode" ng-click="vm.removeImg($index)">
					<md-icon class="material-icon">clear</md-icon>
				</div>
			</div>
			<div class="file-field input-field">
				<div class="md-button input-post img">
					<div layout-fill layout layout-align="center center">
						<i class="material-icons" style="font-size:64px;">add_a_photo</i>
						<input type='file' ng-model='vm.imgSelect' base-sixty-four-input accept="image/*" multiple />
					</div>
				</div>
			</div>
		</div>
		<!-- Location -->
		<div layout="row" layout-align="end center">
			<div layout="row" layout-align="center center">
				<div class="md-subhead">
					<strong class="map-font">在右邊的地圖定位你的物品吧！</strong>
					<md-tooltip>使用滑鼠定位您的物品！</md-tooltip>
				</div>
				<div class="tri hide-i5"></div>
			</div>
		</div>
		<!-- Submit button -->
		<div layout="row" style="margin:20px 0;">
			<span flex></span>
			<input ng-show="!vm.loading" class="md-button md-primary md-raised" type="submit" id="submit" value="發佈物品！" style="width:100px;"></input>
		</div>
	</md-content>
</form>
<div ng-show="vm.loading" class="md-scroll-mask" style="z-index: 100; background-color: rgba(0, 0, 0, 0.10); bottom:-200px;" aria-hidden="true">
	<md-progress-circular class="md-warn md-hue-2" md-mode='indeterminate' style="margin:200px auto;"></md-progress-circular>
	<div class="md-scroll-mask-bar"></div>
</div>
