.navbar
{
  .dropdown-menu{
    margin-top: -1px;
    @include border-radius(0px 0px);
  }
}

md-sidenav{
  .md-locked-open
  {
    .md-locked-open-add-active{
      width: 25.5vw !important;
      max-width: 90vw !important;
    }
    width: 25.5vw !important;
    max-width: 90vw !important;
  }
  width: 25.5vw !important;
  max-width: 90vw !important;
}
