<div>
	<a class="md-button new-btn" ng-click="vm.onClickBack()" style="margin:20px 0 0 20px;">
		<md-icon md-font-set="material-icons">keyboard_backspace</md-icon>上一頁
	</a>
	<div layout layout-align="center center" style="height:80px; z-index: 100">
		<p class="md-display-1" style="z-index: 100; margin:10px 0;">
			{{ vm.type === 'follower' ? '被追隨' : '追隨中' }}
		</p>
	</div>
	<div layout="row" layout-align="center center" layout-wrap>
		<div flex="45" flex-gt-sm="20" layout="column" layout-align="center center" class="md-whiteframe-z4 item follow" ng-repeat="follow in vm.followData" style="z-index:100;">
			<div layout layout-align="center center">
				<img flex ng-src="{{ follow.details.photo_path }}" ng-click="$root.onClickUser(follow.details.uid)" style="width: 100%; cursor:pointer;" />
			</div>
			<p class="md-subhead">{{ follow.details.name }}</p>
		</div>
		<md-progress-circular ng-show="vm.loading" class="md-primary" md-mode='indeterminate' md-diameter="100"></md-progress-circular>
	</div>
</div>
