<div class="xmas-content" resize ng-style="resizeWithOffset(56)">
	<div ng-show="vm.loading" class="md-scroll-mask" style="z-index: 100; background-color: rgba(0, 0, 0, 0.10); bottom:-200px;" aria-hidden="true">
		<md-progress-circular class="md-primary" md-mode='indeterminate' style="margin:200px auto;"></md-progress-circular>
		<div class="md-scroll-mask-bar"></div>
	</div>
	<md-list ng-show="!vm.loading">
		<md-list-item style="padding: 0;">
			<div offset="5" flex>
				<p class="md-subhead xmas-font">通知</p>
			</div>
			<md-divider></md-divider>
		</md-list-item>
		<md-list-item ng-show="vm.notifications.length === 0">
			<div flex>
				<p class="md-body-2 note xmas-font">目前沒有任何通知</p>
			</div>
		</md-list-item>
		<md-list-item ng-repeat="notice in vm.notifications" ng-style="notice.unread && {'background-color':'#E9F3FF'}" ng-click="vm.onClickNotification(notice)">
			<img flex style="max-height:50px; max-width:50px;" ng-src="{{ notice.user.photo_path }}" />
			<div offset="5" flex>
				<p class="md-body-2 note xmas-font">{{notice.content}}</p>
				<p class="md-caption note" style="color: #BCBCBC;">{{ notice.timestamp }}</p>
			</div>
			<md-divider></md-divider>
		</md-list-item>
	</md-list>
</div>