<md-toolbar class="md-primary" style="overflow-x: hidden; overflow-y: hidden;">
	<div class="md-toolbar-tools md-medium-tall navbar">
		<span flex="20" flex-md="15" hide-sm>
			<md-button ng-click="vm.onClick(0)" style="text-transform: none;">
				<md-icon md-font-set="material-icons">group</md-icon>
				<span hide-md hide-sm>ExchangeWorld</span>
			</md-button>
		</span>
		<span flex="10" hide-md hide-sm></span>
		<!-- seek and post button -->
		<div flex="40" flex-md="45" flex-sm="50" layout="row" layout-align="center center">
			<md-button flex="25" flex-sm="15" ng-click="vm.onClick(1)" ng-class="{'active': contentIs(1)}">
				<md-icon md-font-set="material-icons">dashboard</md-icon>
				<span hide-md hide-sm>Seek</span>
			</md-button>
			<md-button flex="25" flex-sm="15" ng-click="vm.onClick(2)" ng-class="{'active': contentIs(2)}">
				<md-icon md-font-set="material-icons">add box</md-icon>
				<span hide-md hide-sm>Post</span>
			</md-button>
			<md-button flex="40" flex-sm="15" ng-click="vm.onClick(3)" ng-class="{'active': vm.contentIs(3)}">
				<md-icon md-font-set="material-icons">autorenew</md-icon>
				<span hide-md hide-sm>Exchange</span>
			</md-button>
		</div>
		<!-- notification div -->
		<div flex="10" flex-md="15" flex-sm offset="5" offset-md="5" offset-sm="5" layout="row" layout-align="center center">
			<md-menu flex="30" flex-sm md-offset="-233 75">
				<md-button ng-click="$mdOpenMenu()">
					<md-icon class="material-icons">notifications</md-icon>
					<p class="notification md-caption">{{ vm.unreadCount }}</p>
				</md-button>
				<md-menu-content width="5" style="padding-bottom: 0px; max-width:400px;">

					<md-menu-item style="min-height: 30px; height:30px">
						<p class="md-body-1">Notification</p>
					</md-menu-item>
					<md-divider></md-divider>

					<!-- unread notification -->
					<md-list>
						<md-list-item
							ng-repeat="notice in vm.notifications"
							ng-style="notice.unread && {'background-color':'#E9F3FF'}"
							ng-click="vm.onClickNotification(notice)"
						>
							<!-- user avatar -->
							<img flex style="max-height:50px; max-width:50px;" ng-src="{{ notice.user.photo_path }}" />
							<!-- notification text -->
							<div offset="5" flex>
								<p class="md-body-2 note">{{notice.content}}</p>
								<p class="md-caption note" style="color: #BCBCBC;">{{ notice.timestamp }}</p>
							</div>
						</md-list-item>
					</md-list>

					<md-divider></md-divider>
					<md-divider></md-divider>
					<!-- See All text -->
					<md-menu-item style="min-height: 30px; height:30px">
						<p class="md-body-2">See All</p>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</div>
		<!-- user menu div -->
		<div flex="35" flex-md flex-sm layout="row" layout-align="center center">
			<md-menu flex flex-sm="70" md-offset="-10 75">
				<md-button ng-click="$mdOpenMenu()">
					<span ng-show="!vm.isLoggedIn">登入</span>
					<div ng-show="vm.isLoggedIn" layout="row" layout-align="center center">
						<img hide-sm style="max-height:25px; max-width:25px" ng-src="{{ vm.user.photo_path }}"></img>
						<span hide-sm>{{ vm.user.name }}</span>
						<md-icon md-font-set="material-icons">menu</md-icon>
					</div>
				</md-button>
				<md-menu-content width="3">
					<md-menu-item>
						<md-button ng-click="vm.onClick(4)">Profile</md-button>
					</md-menu-item>
					<md-menu-item ng-show="vm.isLoggedIn">
						<md-button ng-click="vm.onClick(3)" ng-class="{'active': vm.contentIs(3)}">Manage</md-button>
					</md-menu-item>
					<md-menu-divider></md-menu-divider>
					<md-menu-item ng-show="!vm.isLoggedIn">
						<md-button ng-click="vm.onLogin()">Login</md-button>
					</md-menu-item>
					<md-menu-item ng-show="vm.isLoggedIn">
						<md-button ng-click="vm.onLogout()">Log Out</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</div>
	</div>
	</div>
</md-toolbar>
