<div id="container" layout="row">
	<md-sidenav
			flex="45"
			class="md-sidenav-left md-whiteframe-z2"
			style="z-index:80;"
			md-component-id="left"
			md-is-open="true"
			md-is-locked-open="$mdMedia('gt-md')"
			>
		<md-toolbar hide-lg hide-gt-lg>
			<div class="md-toolbar-tools md-medium-tall navbar">
				ExchangeWorld
			</div>
		</md-toolbar>
		<md-content flex resize ng-style="resizeWithOffset(64)">
			<div ui-view></div>
		</md-content>
	</md-sidenav>

	<map-block flex></map-block>
</div>
