<div id="container" layout="row">
	<md-sidenav
			flex="45"
			class="md-sidenav-left md-whiteframe-z2"
			style="z-index:70;"
			md-component-id="left"
			md-is-open="true"
			md-is-locked-open="$mdMedia('gt-md')"
	>
		<md-toolbar hide-lg hide-gt-lg>
			<div class="md-toolbar-tools md-medium-tall navbar">
				ExchangeWorld
			</div>
		</md-toolbar>
		<md-content class="xmas" flex resize ng-style="resizeWithOffset(56)" style="overflow-x: hidden;">
			<xmas 
				style="position: absolute; top: 0px;bottom: 0;left: 0;right:0;background-color: #37474F; overflow-x:hidden;"
			>
			</xmas>
			<div ui-view></div>
		</md-content>
	</md-sidenav>

	<div class="map-container">
		<map-block ></map-block>
	<div>

</div>
