<div id="container" layout="row">
	<md-sidenav
			class="md-sidenav-left md-whiteframe-z2"
			style="z-index:70;"
			md-component-id="left"
			md-is-open="true"
			md-is-locked-open="$mdMedia('gt-sm')"
			md-swipe-left="$root.onSwipeLeft()"
	>
		<md-toolbar class="md-primary md-hue-3" hide-gt-sm>
			<div class="md-toolbar-tools md-medium-tall navbar">
				<!-- ExchangeWorld -->
			</div>
		</md-toolbar>
		<md-content flex resize ng-style="resizeWithOffset(56)" style="background-color: #EEEEEE;overflow-x: hidden;">
			<div ui-view></div>
		</md-content>
	</md-sidenav>

	<div class="map-container">
		<map-block ></map-block>
	<div>

</div>
