<md-content resize ng-style="resizeWithOffset(56)" ng-show="vm.exchangeList.length === 0">
	<div layout="column" layout-align="center center" style="height:100%;">
		<h2 class="md-display-1" style="margin:20px 0; text-align: center">你沒有正在交換的物品喔！</h2>
		<div layout layout-align="center center" style="height:50%; width:auto;">
			<img src="../../images/emoji.png" style="max-width:90%; max-height: 90%; ">
		</div>
		<p class="md-title info-container" style="text-align: center;">
			立即在探索頁面尋找您喜歡的物品吧
		</p>
		<div style="margin-top: 20px;">
			<md-button ng-click="vm.goSeek()" style="border:1px solid black;">
				<span style="font-weight: 600;">查看！</span>
			</md-button>
		</div>
	</div>
</md-content>
<md-content resize ng-style="resizeWithOffset(56)" ng-show="vm.exchangeList.length !== 0" class="ex-bg">
	<div layout="row" style="height:100%;">
		<div flex="20" class="sidebar-ex" layout-fill>
			<div class="event-btn hvr-bubble-float-left" layout="row" layout-algin="center center" ng-repeat="exchange in vm.exchangeList" ng-click="vm.onClickExchange(exchange)" ng-class="{'exchange.owner_agree-btn': exchange.goods1_agree && exchange.goods2_agree}">
				<div flex layout layout-align="center center">
					<img class="circle exchange" ng-src="{{exchange.other_goods.owner.photo_path}}" />
				</div>
				<div flex="55" layout="column" layout-align="center center">
					<p class="md-body-1 note goods-1">{{ exchange.other_goods.name }}</p>
					<p class="md-body-1 note goods-2">{{ exchange.other_goods.owner.name }}</p>
				</div>
				<span flex="5"></span>
			</div>
		</div>
		<div ng-show="!vm.exchange" flex="80" layout layout-align="center center">
			<h2 class="md-display-1">點擊左側清單觀看目前正在進行的交換</h2>
		</div>
		<div flex-offset="5" flex="50" ng-show="vm.exchange" style="height: 100%;">
			<div layout="row" layout-xs="column" flex="100" class="info-container layout-ex center">
				<md-card flex="40" class="md-whiteframe-z3 item hvr-glow" ng-style="vm.exchange.owner_goods.bgStyle">
					<div layout="row" layout-gt-sm="column">
						<md-card ng-style="vm.exchange.owner_goods.bgStyle">
							<a layout layout-align="center center" style="height:250px; width:auto;" ng-href="/seek/{{vm.exchange.owner_goods.gid}}">
								<img id="img_me" crossorigin="anonymous" ng-src="{{vm.exchange.owner_goods.photoPath[0]}}" class="md-card-image" style="cursor:pointer; max-height: 100%; max-width: 100%; width:auto; " />
							</a>
						</md-card>
						<div layout="row" layout-align="start center">
							<div layout layout-align="start center" layout-margin class="card-info" ng-click="onClickFavorite($event, card)">
								<img data-ng-src="../../images/icon/{{vm.exchange.owner_goods.category}}.svg" style="height:20px; width:auto; margin-right:1px;" />
								<span style="font-size: 14px;">{{vm.exchange.owner_goods.category}}</span>
							</div>
							<div layout layout-align="start center" layout-margin class="card-info">
								<i class="material-icons person" style="outline:0; margin-right:0px; font-size:20px;">person</i>
								<span style="font-size: 14px;text-overflow: ellipsis;display: inline-block;white-space: nowrap;overflow: hidden;">{{ vm.exchange.owner_goods.owner.name }}</span>
							</div>
						</div>
						<md-card-content style="padding: 0;">
							<div flex layout-fill layout="column">
								<div layout="column" layout-align="center center">
									<h2 class="md-title ex-title" ng-style="vm.exchange.owner_goods.fontcolor[0]">{{ vm.exchange.owner_goods.name}}</h2>
									<div ng-style="vm.exchange.owner_goods.fontcolor[1]" class="md-subhead text-ex ex-story" style="color:#7f8588; max-width: 100%; font-size:14px;" hide-xs>
										{{ vm.exchange.owner_goods.description }}
									</div>
								</div>
								<!-- <img class="ex-icon" data-ng-src="../../images/icon/{{vm.exchange.owner_goods.category}}.svg" style="height:24px; width:auto;" />
								<img class="circle card-ex" ng-src="{{vm.exchange.owner_goods.owner.photo_path}}"> -->
							</div>
						</md-card-content>
					</div>
				</md-card>
				<div flex="10"  layout="column"  layout-align="start center" style="padding-top:10%;">
					<p class="vertical isUp" ng-show="!vm.exchange.owner_agree">確認交換</p>
					<md-button class="md-fab ex-confirm" ng-show="!vm.exchange.owner_agree" ng-click="vm.onClickComplete($event)">
						<div layout layout-align="center center">
							<img src="../../images/icon(48-48).png" />
						</div>
					</md-button>
					<md-button class="md-fab white-btn" ng-show="!vm.exchange.owner_agree" ng-click="vm.onClickDelete($event)">
						<md-icon md-font-set="material-icons" style="color: #FFD54F">close</md-icon>
					</md-button>
					<p class="vertical isDown" ng-show="!vm.exchange.owner_agree">先不要換</p>
					<md-button class="md-fab ex-confirm md-hue-1 md-accent" ng-show="vm.exchange.owner_agree" disabled="true">
						<div layout layout-align="center center">
							<i class="material-icons confirm">done</i>
						</div>
					</md-button>
					<p class="vertical isDown" ng-show="vm.exchange.owner_agree">已確認交換</p>
					<a ng-disabled="!vm.owner_agree" class="md-button md-fab white-btn" href="#" socialshare socialshare-provider="facebook" socialshare-url="http://exwd.csie.org/xmas-share.html" style="min-width:40px;" hide-xs hide-sm>
						<md-icon md-font-set="material-icons">share</md-icon>
						<md-tooltip>分享...</md-tooltip>
					</a>
				</div>
				<md-card flex="40" class="md-whiteframe-z3 item hvr-glow" ng-style="vm.exchange.other_goods.bgStyle">
					<div layout="column">
						<md-card ng-style="vm.exchange.other_goods.bgStyle">
							<a layout layout-align="center center" style="height:250px; width:auto;" ng-href="/seek/{{vm.exchange.other_goods.gid}}">
								<img id='img_other' crossorigin="anonymous" ng-src="{{vm.exchange.other_goods.photoPath[0]}}" class="md-card-image" style="cursor:pointer; max-height: 100%; max-width: 100%; width:auto; ">
							</a>
						</md-card>
						<div layout="row" layout-align="start center">
							<div layout layout-align="start center" layout-margin ng-click="onClickFavorite($event, card)">
								<img data-ng-src="../../images/icon/{{vm.exchange.other_goods.category}}.svg" style="height:20px; width:auto; margin-right:1px;" />
								<span style="font-size: 14px;">{{vm.exchange.other_goods.category}}</span>
							</div>
							<div layout layout-align="start center" layout-margin>
								<i class="material-icons person" style="outline:0; margin-right:0px; font-size:20px;">person</i>
								<span style="font-size: 14px;text-overflow: ellipsis;display: inline-block;white-space: nowrap;overflow: hidden;">{{ vm.exchange.other_goods.owner.name }}</span>
							</div>
						</div>
						<md-card-content style="padding: 0;">
							<div flex layout-fill layout="column">
								<div layout="column" layout-align="center center">
									<h2 class="md-title ex-title" ng-style="vm.exchange.other_goods.fontcolor[0]">{{ vm.exchange.other_goods.name}}</h2>
									<div ng-style="vm.exchange.other_goods.fontcolor[1]" class="md-subhead text-ex ex-story" style="max-width: 100%; font-size:14px;" hide-xs>
										{{ vm.exchange.other_goods.description }}
									</div>
								</div>
								<!-- <img class="ex-icon" data-ng-src="../../images/icon/{{vm.exchange.other_goods.category}}.svg" style="height:24px; width:auto;" />
								<img class="circle card-ex" ng-src="{{vm.exchange.other_goods.owner.photo_path}}"> -->
							</div>
						</md-card-content>
					</div>
				</md-card>
			</div>
		</div>
		<div ng-show="vm.exchange" flex style="height: 100%;">
			<div class="map-size">
				<img border="0" ng-src="//maps.googleapis.com/maps/api/staticmap?size={{vm.map.size}}&markers={{vm.map.marker}}" />
			</div>
			<div class="chat-layout">
				<md-toolbar class="md-primary md-hue-2" layout layout-align="center center" style="min-height: 48px;">
					<span>{{vm.exchange.other_goods.owner.name}}</span>
				</md-toolbar>
				<ul class="discussion chat-ex" scroll='vm.chatroom.length > 0' upward-scroll="vm.loadMore()">
					<li ng-class="{true: 'other', false: 'self'}[chat.sender_uid !== {{ vm.myid }}]" ng-repeat="chat in vm.chatroom">
						<div class="avatar" ng-show="(chat.sender_uid !== {{ vm.myid }})">
							<div ng-show="(chat.sender_uid !== {{ vm.myid }})">
								<img ng-src="{{vm.exchange.other_goods.owner.photo_path}}" />
							</div>
							<md-tooltip ng-show="(chat.sender_uid !== {{ vm.myid }})">
								{{vm.exchange.other_goods.owner.name}}
							</md-tooltip>
						</div>
						<div class="messages" layout layout-align="center center">
							<p class="content">{{ chat.content }}</p>
							<md-tooltip>
								{{ chat.time }}
							</md-tooltip>
						</div>
					</li>
				</ul>
				<ul class="discussion input">
					<form ng-submit="vm.onSubmitChat()">
						<md-input-container>
							<label style="top:-20px;">輸入訊息...</label>
							<input type="text" ng-model="vm.chatContent" name="text" />
						</md-input-container>
						<input type="submit" id="submit" value="Submit" ng-show="false" />
					</form>
				</ul>
			</div>
		</div>
	</div>
</md-content>
