<md-dialog aria-label="Queue">
	<form>
		<md-toolbar>
			<div flex class="md-toolbar-tools">
				<h2 class="md-title">選擇一個物品接受「排」</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="vm.cancel()">
					<md-icon md-font-set="material-icons" aria-label="Close dialog">close</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content style="max-width:600px;max-height:410px;">
			<div layout="column" layout-align="start center">
				<div flex ng-show="vm.queuingGoods.length === 0">目前沒有正在排的物品</div>
				<md-radio-group ng-model="queuing.group">
					<div ng-repeat="queuing in vm.queuingGoods">
						<div flex layout="row" layout-align="center center">
							<md-radio-button value="{{queuing.queuer_goods}}">
							</md-radio-button>
							<md-card class="md-whiteframe-z3 item-profile name-queue">
								<md-card-content layout="row" layout-sm="column">
									<div flex="55" flex-sm="100" layout layout-align="center center" style=" height:150px; width:auto; border-radius:10px;">
										<img 
											ng-src="{{queuing.queuer_goods.photo_path[0]}}" 
											style="max-width: 100%; max-height:100%;"
										/>
									</div>
									<div flex="45" flex-sm="100" layout="column" layout-align="center center">
										<div layout="row">
											<a ng-click="vm.onClickGoods(queuing.queuer_goods.gid)">{{ queuing.queuer_goods.name }}</a>
										</div>
									</div>
								</md-card-content>
							</md-card>
						</div>
					</div>
				</md-radio-group>
			</div>
		</md-dialog-content>
		<div class="md-actions" layout="row">
			<span flex></span>
			<md-button ng-click="vm.cancel()">取消</md-button>
			<md-button ng-click="vm.confirm(queuing.group)" ng-disabled="queuing.group === undefined" style="margin-right:20px;">
				完成
			</md-button>
		</div>
	</form>
</md-dialog>

