<md-dialog aria-label="Queue" style="width:50%; height: 100%;">
	<form style="height: 112%;">
		<md-toolbar class="md-whiteframe-2dp">
			<div flex class="md-toolbar-tools" style="background-color: #b3e1d8;">
				<h2 class="md-title" style="margin-left:15px;">想要拿來交換的物品</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="vm.cancel()">
					<md-icon md-font-set="material-icons" aria-label="Close dialog">close</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content style="height:100%;">
			<!-- <div layout-padding></div> -->
			<div layout="column" layout-align="start center" style="height: 83%;">
				<div layout layout-align="center center" layout-fill ng-show="vm.myGoods.length === 0" style="min-height: 100%;">你沒有可以拿來排的東西
					<br/>趕快去ＰＯ一些吧！</div>
				<md-radio-group ng-model="queue.group" layout-fill>
					<div ng-repeat="goods in vm.myGoods" style="margin:10px 20px;">
						<div flex layout="row" layout-align="center center">
							<md-radio-button flex="70" flex-gt-xs="80" value="{{goods.gid}}">
								<md-card class="md-whiteframe-z3 item-profile name-queue">
									<md-card-content layout="column" layout-gt-xs="row">
										<div flex-gt-xs="55" layout layout-align="center center" style=" height:150px; width:auto; border-radius:10px;">
											<img ng-src="{{goods.photo_path[0]}}" style="max-width: 100%; max-height:100%;" />
										</div>
										<div flex-gt-xs="45" layout="column" layout-align="end start">
											<div layout="column" layout-align="end start">
												<span class="md-headline">{{ goods.name }}</span>
												<div layout="row" layout-algin="center center">
													<img data-ng-src="../../images/icon/{{goods.category}}.svg" style="height:20px; width:auto;" />
													<span>{{ goods.category_alias }}</span>
												</div>
											</div>
										</div>
									</md-card-content>
								</md-card>
							</md-radio-button>
							<a flex class="md-button link" ng-click="vm.onClickGoods(goods.gid)">
								<md-icon md-font-set="material-icons">link</md-icon>
							</a>
						</div>
					</div>
				</md-radio-group>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="vm.cancel()">取消</md-button>
			<md-button ng-click="vm.confirm(queue.group)" style="margin-right:20px;" ng-show="vm.myGoods.length !== 0" ng-disabled="queue.group === undefined">完成</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>