<md-content layout-padding style="overflow-y: hidden;">
	<div layout-padding layout-margin layout="row" layout-align="center center">
		<md-button ng-click="vm.onClickBack()" class="md-raised md-accent md-hue-1" style="margin-left:0;">
			<md-icon md-font-set="material-icons">keyboard_backspace</md-icon>回列表
		</md-button>
		<div flex="70" flex-sm="55" layout="row" layout-align="center center" style="margin-left:0;">
			<div flex-sm="50" layout layout-align="center center">
				<md-button class="white-btn btn-rwd" ng-disabled="!vm.isLoggedIn" ng-click="vm.onClickStar()">
					<md-icon md-font-set="material-icons" ng-class="{'heart-goods': vm.starred}">favorite</md-icon>
					<span hide-sm>{{vm.starred ? '已關注' : '關注'}} {{vm.stars.length}}</span>
				</md-button>
			</div>
			<div flex-sm="50" layout layout-align="center center">
				<md-button class="white-btn btn-rwd" ng-disabled="!vm.isLoggedIn" ng-click="vm.onClickQueue($event)">
					<md-icon md-font-set="material-icons">remove_red_eye</md-icon>
					<span hide-sm>{{ vm.isMe ? '看誰排' : '我要排' }} {{vm.queuingList.length}}</span>
				</md-button>
			</div>
			<div flex-sm="50" layout layout-align="center center">
				<a href="#"
					socialshare
					socialshare-provider="facebook"
					socialshare-url="http://exwd.csie.org/seek/{{vm.goodData.gid}}" >
					<md-icon md-font-set="material-icons">share</md-icon>
				</a>

			</div>
		</div>
		<div ng-show="vm.isMe" ng-click="vm.onDelete(vm.goodData.gid)" layout layout-align="end end">
			<i class="material-icons delete">delete</i>
		</div>
	</div>
	<div class="goods-lg" flex="80" layout layout-align="center center" ng-style="vm.bgStyle">
		<img id="img" crossorigin="anonymous" class="img-goods" ng-src="{{ vm.goodData.photo_path[0] }}" ng-click="vm.showPhotoViewer($event)" ng-style="vm.bordercolor[$index]" ng-init="$index=1" ng-mouseover="$index=0" ng-mouseleave="$index=1">
	</div>
	<div class="info_container" layout="column">
		<div layout="row" layout-wrap>
			<span flex="80" flex-sm="75" ng-show="vm.isMe"></span>
			<div flex="20" flex-sm="25" layout layout-align="center center" ng-show="vm.isMe">
				<md-button class="md-fab md-primary" ng-click="vm.onEdit(vm.goodData.gid)">
					<md-icon md-font-set="material-icons" ng-show="!vm.edit">edit</md-icon>
					<md-icon md-font-set="material-icons" ng-show="vm.edit && vm.isMe">done</md-icon>
					<md-tooltip ng-show="!vm.edit">編輯物品</md-tooltip>
					<md-tooltip ng-show="vm.edit && vm.isMe">編輯完成</md-tooltip>
				</md-button>
			</div>
			<div flex="40" layout="column" layout-align="center center">
				<img ng-click="vm.onClickUser(vm.goodData.user.uid)" class="circular goods with_border anchor" src="{{ vm.goodData.user.photo_path }}" />
				<p class="md-tiltle" style="color:#7f8588;">{{ vm.goodData.user.name }}</p>
			</div>
			<div flex="55" layout="column" layout-align="start center" ng-show="!vm.edit">
				<h3 class="goods-name" style="color:#3e4042">{{ vm.goodData.name }}</h3>
				<div style="color:#7f8588;" layout="row" layout-align="center center">
					<img src="../../images/icon/icon-book.png" ng-show="vm.goodData.category === 'Books'" style="height:24px; width:auto;">
					<img src="../../images/icon/icon-school.svg" ng-show="vm.goodData.category === 'Textbooks'" style="height:24px; width:auto;">
					<img src="../../images/icon/icon-cloth.png" ng-show="vm.goodData.category === 'Clothes'" style="height:24px; width:auto;">
					<img src="../../images/icon/icon-phone.svg" ng-show="vm.goodData.category === '3C'" style="height:24px; width:auto;">
					<img src="../../images/icon/icon-other.svg" ng-show="vm.goodData.category === 'Others'" style="height:24px; width:auto;">
					<span style="margin-left: 5px;">{{ vm.goodData.category_alias }}</span>
				</div>
			</div>
			<div flex="55" layout="column" layout-align="start center" ng-show="vm.edit">
				<md-input-container>
					<input ng-model="vm.goodData.name" aria-label="goodsname">
				</md-input-container>
				<md-input-container>
					<md-select ng-model="vm.goodData.category" aria-label="cate">
						<md-option ng-repeat="cate in vm.availableCategory" value="{{cate.label}}">{{cate.alias}}</md-option>
					</md-select>
				</md-input-container>
			</div>
			<span flex="15" flex-sm="10"></span>
			<div flex="70" flex-sm="80" ng-show="!vm.edit" layout layout-align="center center">
				<p style="color:#7f8588; max-width: 100%; font-size:18px;">{{ vm.goodData.description }}</p>
			</div>
			<div flex="70" flex-sm="80" ng-show="vm.edit" layout layout-align="center center">
				<md-input-container>
					<textarea type="string" ng-model="vm.goodData.description" columns="10" md-maxlength="100" aria-label="desc"></textarea>
				</md-input-container>
			</div>
			<span flex="15" flex-sm="10"></span>
		</div>
	</div>
	<div layout-padding>
		<md-divider ng-show="vm.goodComments.length > 0"></md-divider>
		<!-- comments -->
		<div class="comments">
			<div class="comment" ng-repeat="comment in vm.goodComments">
				<a class="avatar" ng-click="vm.onClickUser(comment.user.uid)"> <img ng-src="{{ comment.user.photo_path }}"> </a>
				<div class="content" ng-mouseover="removeMode=true" ng-mouseleave="removeMode=false">
					<a class="author" ng-click="vm.onClickUser(comment.user.uid)">{{ comment.user.name}}</a>
					<div class="metadata">
						<div flex class="date">{{ comment.timestamp}}</div>
					</div>
					<div ng-show="comment.isMe && removeMode" ng-click="vm.onDeleteComment(comment.cid)" class="cross">X</div>
					<div class="text">
						{{ comment.content }}
					</div>
				</div>
			</div>
			<form ng-submit="vm.onSubmitComment()">
				<md-input-container style="padding-bottom: 15px;">
					<label>留言...</label>
					<input type="text" ng-model="vm.comment" name="text" />
				</md-input-container>
				<input type="submit" id="submit" value="Submit" ng-show="false" />
			</form>
		</div>
	</div>
</md-content>

