<md-dialog aria-label="Queue">
	<form>
		<md-toolbar>
			<div flex class="md-toolbar-tools" layout layout-align="center center">
				<h2 class="md-display-1">您想要拿來「排」的物品</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="vm.cancel()">
					<md-icon md-font-set="material-icons" aria-label="Close dialog">close</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content style="max-width:700px;max-height:410px;">
			<div layout layout-align="start center">
				<div ng-show="vm.myGoods.length === 0">你沒有可以拿來排的東西
					<br/>趕快去ＰＯ一些吧！</div>
				<md-radio-group ng-model="queue.group" layout-fill>
					<div ng-repeat="goods in vm.myGoods">
						<div flex layout="row" layout-align="center center">
							<md-radio-button value="{{goods.gid}}">
							</md-radio-button>
							<!-- <div flex="40" offset="5" layout layout-align="center center" style="text-align: center">
								<a ng-click="vm.onClickGoods(goods.gid)">{{ goods.name }}</a>
							</div> -->
							<md-card class="md-whiteframe-z3 item-profile name-queue">
								<md-card-content layout="row" layout-sm="column">
									<div flex="55" flex-sm="100" layout layout-align="center center" style=" height:150px; width:auto; border-radius:10px;">
										<img ng-src="{{goods.photo_path[0]}}" style="max-width: 100%; max-height:100%;" />
									</div>
									<div flex="45" flex-sm="100" layout="column" layout-align="center center">
										<div layout="row">
											<a ng-click="vm.onClickGoods(goods.gid)">{{ goods.name }}</a>
										</div>
									</div>
								</md-card-content>
							</md-card>
						</div>
					</div>
				</md-radio-group>
			</div>
			<!-- <div layout layout-align="center center"> -->
			<!--<p ng-show="queue.group">您選擇了-->
			<!--<strong>{{queue.group}}</strong>-->
			<!--</p>-->
			<!-- </div> -->
		</md-dialog-content>
		<div class="md-actions" layout="row">
			<span flex></span>
			<md-button ng-click="vm.cancel()">取消</md-button>
			<md-button ng-click="vm.confirm(queue.group)" style="margin-right:20px;" ng-show="vm.myGoods.length !== 0">完成</md-button>
		</div>
	</form>
</md-dialog>

