<md-content resize ng-style="resizeWithOffset(56)" style="overflow-y: scroll;">
	<div layout="row" class="profile-top" layout-align="center center" ng-style="{'background-image':'url({{ vm.profile.photo_path }})'}">
	</div>
	<div layout layout-align="center center" class="img-profile" ng-style="{'background-image':'url({{ vm.profile.photo_path }})'}">
	</div>
	<div class="profile-name" flex-gt-sm="60" flex-sm="50" layout="column">
		<div layout="column">
			<div layout="column" layout-align="center center">
				<h4 class="md-headline" style="margin:8px 0; text-align: center; color:#455A64;">{{ vm.profile.name }}</h4>
				<div layout="row" layout-align="center center">
					<md-tooltip>被關注總量</md-tooltip>
					<i class="material-icons heart-seek">favorite</i>
					<span class="md-subhead" style="color:#455A64;">{{ vm.favSum.length }}</span>
				</div>
			</div>
			<div layout="row" layout-sm="column" layout-align="center center">
				<div layout="column" layout-sm="row" layout-align="center center" class="note profile">
					<p class="md-title text-ex follow reset-follow">追隨中</p>
					<a class="profile" ng-click="vm.onClickFollow(vm.profile.uid, 'following')">{{ vm.profile.followings.length }}</a>
				</div>
				<div layout="column" layout-sm="row" layout-align="center center" class="note profile">
					<p class="md-title text-ex follow reset-follow">被追蹤</p>
					<a class="profile" ng-click="vm.onClickFollow(vm.profile.uid, 'follower')">{{ vm.followerCount }}</a>
				</div>
			</div>
		</div>
		<div offset="10" layout="row" layout-align="center center" style="margin-top: 10px;">
			<md-button flex class="md-raised md-primary btn-rwd" ng-show="!vm.isMe" ng-disabled="!vm.isLoggedIn" ng-click="vm.onClickAddFollowing(vm.profile.uid)">
				<div ng-show="!vm.isFollowed">
					<md-icon md-font-set="material-icons">person_add</md-icon>
					<span hide-sm>&nbsp;追隨</span>
				</div>
				<div ng-show="vm.isFollowed">
					<md-icon md-font-set="material-icons">remove_circle</md-icon>
					<span hide-sm>&nbsp;取消追隨</span>
				</div>
			</md-button>
			<md-button flex class="md-raised md-primary btn-rwd" ng-show="!vm.isMe" ng-disabled="!vm.isLoggedIn" ng-click="vm.onClickSendMsg($event, vm.profile.uid)">
				<md-icon md-font-set="material-icons">chat</md-icon>
				<span hide-sm>&nbsp;送訊息</span>
			</md-button>
			<span flex="10"></span>
		</div>
	</div>
	<md-divider class="info_container for_input small" style="margin: 0;"></md-divider>
	<md-tabs md-dynamic-height md-center-tabs md-swipe-content md-no-ink>
		<md-tab label="願望清單">
			<md-content layout-padding style="margin-top: 10px;">
				<div layout="row" style="padding-top: 4%;">
					<div flex="65" offset="5">
						<form name="userForm">
							<div layout="column">
								<p class="fade md-subhead text-ex edit" ng-hide="vm.isReadOnly">請於下方輸入您想要的物品</p>
								<md-input-container style="margin-top: 10px;">
									<label>您想要的物品</label>
									<textarea ng-model="vm.profile.wishlist" ng-disabled="vm.isReadOnly"></textarea>
								</md-input-container>
							</div>
						</form>
					</div>
					<span flex></span>
					<div layout layout-align="center start">
						<md-button class="md-fab md-primary md-hue-2" ng-show="vm.isMe" ng-click="vm.onClickEdit()">
							<md-icon md-font-set="material-icons" ng-show="vm.isMe && vm.isReadOnly">edit</md-icon>
							<md-icon md-font-set="material-icons" ng-hide="vm.isReadOnly">done</md-icon>
							<md-tooltip ng-show="vm.isMe && vm.isReadOnly">編輯願望清單</md-tooltip>
							<md-tooltip ng-hide="vm.isReadOnly">完成</md-tooltip>
						</md-button>
					</div>
					<span flex="5"></span>
				</div>
			</md-content>
		</md-tab>
		<md-tab label="等待交換({{ vm.myGoodsPending.length }})">
			<md-content layout-padding>
				<div flex layout layout-align="center center" ng-show="vm.myGoodsPending.length === 0">
					<img class="img-null" src="../../images/emoji_null.png">
				</div>
				<div layout="column" layout-align="center center">
					<md-card class="md-whiteframe-z3 item-profile" ng-repeat="goods in vm.myGoodsPending" ng-click="vm.onClickGoods(goods.gid)">
						<md-card-content layout-gt-sm="row">
							<div flex-gt-sm="40" layout layout-align="center center" style=" height:200px; width:auto; border-radius:10px;" ng-style="goods.bgStyle">
								<img id="img_{{goods.gid}}" crossorigin="anonymous" ng-src="{{ goods.photo_path[0] }}" style="max-width: 100%; max-height:100%; cursor:pointer;" ng-show="goods.category !== 'Christmas'" />
								<img id="img_{{goods.gid}}" crossorigin="anonymous" src="./../images/Gift(Small).jpg" style="max-width: 100%; max-height:100%; cursor:pointer;" ng-show="goods.category === 'Christmas'" />
							</div>
							<div offset-gt-sm="5" flex-gt-sm="55" layout-gt-sm="column">
								<div layout layout-align="center center">
									<h2 style="margin: 10px 0;">{{ goods.name }}</h2>
								</div>
								<div flex layout layout-align="center center">
									<div ng-bind-html="vm.getHTMLDesc(goods.description)">
									</div>
								</div>
							</div>
						</md-card-content>
					</md-card>
				</div>
			</md-content>
		</md-tab>
		<md-tab label="已交換({{ vm.myGoodsExchanged.length }})">
			<md-content layout-padding>
				<div flex layout layout-align="center center" ng-show="vm.myGoodsExchanged.length === 0">
					<img class="img-null" src="../../images/emoji_null.png">
				</div>
				<div layout="column" layout-align="center center">
					<md-card class="md-whiteframe-z3 item-profile" ng-repeat="goods in vm.myGoodsExchanged" ng-click="vm.onClickGoods(goods.gid)">
						<md-card-content layout-gt-sm="row">
							<div flex-gt-sm="40" layout layout-align="center center" style=" height:200px; width:auto; border-radius:10px;" ng-style="goods.bgStyle">
								<img id="img_{{goods.gid}}" crossorigin="anonymous" ng-src="{{ goods.photo_path[0] }}" style="max-width: 100%; max-height:100%; cursor:pointer;" />
							</div>
							<div offset-gt-sm="5" flex-gt-sm="55" layout-gt-sm="column">
								<div layout="row" layout-align="center center">
									<h2 style="margin: 10px 0;">{{ goods.name }}</h2>
								</div>
								<div flex layout layout-align="center center">
									<div ng-bind-html="vm.getHTMLDesc(goods.description)">
									</div>
								</div>
								<div layout layout-align="center start">
									<div ng-repeat="n in vm.getNumber(goods.rate) track by $index">
										<img src="../../images/star-on.svg" />
									</div>
									<div ng-repeat="n in vm.getNumber(5 - goods.rate) track by $index">
										<img src="../../images/star-off.svg" />
									</div>
								</div>
							</div>
						</md-card-content>
					</md-card>
				</div>
			</md-content>
		</md-tab>
		<md-tab label="關注的物品({{ vm.myStar.length }})">
			<md-content layout-padding>
				<div flex layout layout-align="center center" ng-show="vm.myStar.length === 0">
					<img class="img-null" src="../../images/emoji_null.png">
				</div>
				<div layout="column" layout-align="center center">
					<md-card class="md-whiteframe-z3 item-profile" ng-repeat="goods in vm.myStar" ng-click="vm.onClickGoods(goods.gid)">
						<md-card-content layout-gt-sm="row">
							<div flex-gt-sm="40" layout layout-align="center center" style=" height:200px; width:auto; border-radius:10px;" ng-style="goods.bgStyle">
								<img id="img_{{goods.gid}}" crossorigin="anonymous" ng-src="{{ goods.photo_path[0] }}" style="max-width: 100%; max-height:100%; cursor:pointer;" ng-show="goods.category !== 'Christmas'" />
								<img id="img_{{goods.gid}}" crossorigin="anonymous" src="./../images/Gift(Small).jpg" style="max-width: 100%; max-height:100%; cursor:pointer;" ng-show="goods.category === 'Christmas'" />
							</div>
							<div offset-gt-sm="5" flex-gt-sm="55" layout-gt-sm="column">
								<div layout layout-align="center center">
									<h2 style="margin: 10px 0;">{{ goods.name }}</h2>
								</div>
								<div flex layout layout-align="center center">
									<div ng-bind-html="vm.getHTMLDesc(goods.description)">
									</div>
								</div>
							</div>
						</md-card-content>
					</md-card>
				</div>
			</md-content>
		</md-tab>
	</md-tabs>
</md-content>

