<md-content resize ng-style="resizeWithOffset(56)" style="overflow-y: scroll;">
	<div layout="row" class="profile-top md-whiteframe-z1" layout-align="center center">
		<div layout layout-align="center center" class="img-profile" ng-style="{'background-image':'url({{ vm.profile.photo_path }})'}"> </div>
		<div layout="column" class="profile-right">
			<div layout="column">
				<div layout="row" layout-align="start center" style="margin-left:25px;">
					<h4 class="md-headline" style="margin:4px 0; text-align: center;">{{ vm.profile.name }}</h4>
					<!-- <div layout="row" layout-align="end end">
						<p class="md-subhead text-ex reset-follow hide-i5" style="padding-top:3px;">積分：{{ vm.profile.scores }}</p>
					</div> -->
				</div>
				<div layout="row" layout-xs="column" layout-align="start center" layout-align-xs="start start" style="margin-left:16px;">
					<div layout="row" layout-align="center center" class="note profile">
						<p class="md-title text-ex follow reset-follow">追隨中</p>
						<a ng-click="vm.onClickFollow(vm.profile.uid, 'following')">{{ vm.profile.follows_follower.length }}</a>
					</div>
					<div layout="row" layout-align="center center" class="note profile">
						<p class="md-title text-ex follow reset-follow">被追蹤</p>
						<a ng-click="vm.onClickFollow(vm.profile.uid, 'follower')">{{ vm.profile.follows_followed.length }}</a>
					</div>
				</div>
			</div>
			<div layout="row" layout-align="center center" style="margin-left:19px;margin-top: 10px;">
				<div>
					<md-button class="btn-rwd new-btn" ng-show="!vm.isMe" ng-disabled="!$root.isLoggedIn" ng-click="vm.onClickAddFollowing(vm.profile.uid)">
						<div layout="row" layout-align="center center" ng-show="!vm.isFollowed">
							<i class="material-icons">person_add</i>
							<span>&nbsp;追隨</span>
						</div>
						<div layout="row" layout-align="center center" ng-show="vm.isFollowed">
							<i class="material-icons">remove_circle</i>
							<span>&nbsp;取消追隨</span>
						</div>
					</md-button>
				</div>
				<div>
					<md-button class="btn-rwd new-btn" ng-show="!vm.isMe" ng-disabled="!$root.isLoggedIn" ng-click="vm.onClickSendMsg($event, vm.profile.uid)" style="border: 1px solid black; font-weight: 600;">
						<div layout="row" layout-align="center center">
							<i class="material-icons">chat</i>
							<span>&nbsp;送訊息</span>
						</div>
					</md-button>
				</div>
				<span flex="10"></span>
			</div>
		</div>
	</div>
	<md-tabs md-dynamic-height md-center-tabs md-swipe-content md-no-ink>
		<md-tab label="願望清單({{ vm.myStarGoods.length }})">
			<md-divider></md-divider>
			<div flex layout layout-align="center center" ng-show="vm.myStarGoods.length === 0">
				<img class="img-null" src="../../images/emoji_null.png">
			</div>
			<div class="grid-wrapper">
				<div class="grid__columns">
					<div ng-repeat="card in vm.myStarGoods">
						<md-card class="md-whiteframe-z4 item card">
							<a ng-href="/seek/{{card.gid}}" ng-mouseenter="onMouseOver(card.gid)" ng-mouseleave="onMouseOut(card.gid)">
								<img width="300" data-ng-src="{{card.photo_path[0]}}" class="md-card-image card-img">
								<div layout="row" layout-align="start center">
									<div style="padding-left:10px; padding-top:5px; width:100%;">
										<img data-ng-src="../../images/icon/{{card.category}}.svg" style="height:24px; width:auto; position:relative; top:4px; float:left; margin-right:3px;" />
										<h2 class="seek-title"> {{card.name}} </h2>
									</div>
								</div>
								<div layout="row" layout-align="start center" style="margin:0; padding-left: 10px; padding-bottom: 15px;">
									<div flex layout layout-align="start center" class="card-info">
										<i class="material-icons person" style="outline:0; margin-right:0px; font-size:20px;">person</i>
										<span style="font-size: 14px;text-overflow: ellipsis;display: inline-block;white-space: nowrap;overflow: hidden;">{{ card.owner.name }}</span>
									</div>
								</div>
							</a>
						</md-card>
					</div>
				</div>
			</div>
		</md-tab>
		<md-tab label="等待交換({{ vm.myGoodsPending.length }})">
			<md-divider></md-divider>
			<md-content layout-padding>
				<div flex layout layout-align="center center" ng-show="vm.myGoodsPending.length === 0">
					<img class="img-null" src="../../images/emoji_null.png">
				</div>
				<div class="grid-wrapper">
					<div class="grid__columns">
						<div ng-repeat="card in vm.myGoodsPending">
							<md-card class="md-whiteframe-z4 item card">
								<a ng-href="/seek/{{card.gid}}" ng-mouseenter="onMouseOver(card.gid)" ng-mouseleave="onMouseOut(card.gid)">
									<img width="300" data-ng-src="{{card.photo_path[0]}}" class="md-card-image card-img">
									<div layout="row" layout-align="start center">
										<div style="padding-left:10px; padding-top:5px; width:100%;">
											<img data-ng-src="../../images/icon/{{card.category}}.svg" style="height:24px; width:auto; position:relative; top:4px; float:left; margin-right:3px;" />
											<h2 class="seek-title"> {{card.name}} </h2>
										</div>
									</div>
									<div layout="row" layout-align="start center" style="margin:0; padding-left: 10px; padding-bottom: 15px;">
										<div flex layout layout-align="start center" class="card-info">
											<i class="material-icons description" style="outline:0; margin-right:0px; font-size:20px;">description</i>
											<span style="font-size: 14px;text-overflow: ellipsis;display: inline-block;white-space: nowrap;overflow: hidden;">{{ card.description }}</span>
										</div>
									</div>
								</a>
							</md-card>
						</div>
					</div>
				</div>
			</md-content>
		</md-tab>
		<md-tab label="已交換({{ vm.myGoodsExchanged.length }})">
			<md-divider></md-divider>
			<md-content layout-padding>
				<div flex layout layout-align="center center" ng-show="vm.myGoodsExchanged.length === 0">
					<img class="img-null" src="../../images/emoji_null.png">
				</div>
				<div class="grid-wrapper">
					<div class="grid__columns">
						<div ng-repeat="card in vm.myGoodsExchanged">
							<md-card class="md-whiteframe-z4 item card">
								<a ng-href="/seek/{{card.gid}}" ng-mouseenter="onMouseOver(card.gid)" ng-mouseleave="onMouseOut(card.gid)">
									<img width="300" data-ng-src="{{card.photo_path[0]}}" class="md-card-image card-img">
									<div layout="row" layout-align="start center">
										<div style="padding-left:10px; padding-top:5px; width:100%;">
											<img data-ng-src="../../images/icon/{{card.category}}.svg" style="height:24px; width:auto; position:relative; top:4px; float:left; margin-right:3px;" />
											<h2 class="seek-title"> {{card.name}} </h2>
										</div>
									</div>
									<div layout="row" layout-align="start center" style="margin:0; padding-left: 10px; padding-bottom: 15px;">
										<div layout layout-align="center start">
											<div ng-repeat="n in vm.getNumber(card.rate) track by $index">
												<img src="../../images/star-on.svg" />
											</div>
											<div ng-repeat="n in vm.getNumber(5 - card.rate) track by $index">
												<img src="../../images/star-off.svg" />
											</div>
										</div>
									</div>
								</a>
							</md-card>
						</div>
					</div>
				</div>
			</md-content>
		</md-tab>
	</md-tabs>
</md-content>
