<md-content>
	<div layout="row" class="info_container" layout-align="center center">
		<!-- user avatar -->
		<!-- <span flex="5"></span> -->
		<div layout layout-align="center center" ng-style="{'background-image':'url({{ vm.profile.largePic }})','width':'170px' , 'height':'170px', 'background-repeat':'no-repeat', 'background-position':'center','border-radius':'50%','background-size':'contain'}">
			<!-- <a href="#"><img class="circular profile" ng-src="{{ vm.profile.largePic }}" /></a> -->
		</div>
		<!-- user name & follow button -->
		<div layout="column">
			<div layout="row" layout-sm="column">
				<div layout="column" layout-align="center center" class="note username">
					<h4 class="md-headline" style="margin:8px 0;">{{ vm.profile.name }}</h4>
					<div layout="row" layout-align="center center">
						<i class="material-icons heart">favorite</i>
						<a href="#"><span class="md-subhead">{{ vm.myStar.length }}</span></a>
					</div>
				</div>
				<div layout="column" layout-align="center center" class="note profile">
					<p class="md-title text-ex follow">追隨中</p>
					<a ng-click="vm.onClickFollow(vm.profile.uid, 0)">{{ vm.profile.followings.length }}</a>
				</div>
				<div layout="column" layout-align="center center" class="note profile">
					<p class="md-title text-ex follow">被追蹤</p>
					<a ng-click="vm.onClickFollow(vm.profile.uid, 1)">{{ vm.followerCount }}</a>
				</div>
			</div>
			<div offset="10" layout="row" layout-align="center center" style="margin-top: 10px;">
				<!-- <span flex="10"></span> -->
				<!-- <md-button flex class="md-raised md-primary" ng-show="!vm.isMe" ng-disabled="!(vm.isLoggedIn && !vm.isFollowed)" ng-click="vm.onClickAddFollowing(vm.profile.uid)"> -->
				<md-button flex class="md-raised md-primary" ng-show="!vm.isMe" ng-click="vm.onClickAddFollowing(vm.profile.uid)">
					<div ng-show="!vm.isFollowed">
						<md-icon md-font-set="material-icons">person_add</md-icon>
						<span hide-sm>&nbsp;追隨</span>
					</div>
					<div ng-show="vm.isFollowed">
						<md-icon md-font-set="material-icons">remove_circle</md-icon>
						<span hide-sm>&nbsp;取消追隨</span>
					</div>
				</md-button>
				<md-button flex class="md-raised md-primary" ng-show="!vm.isMe" ng-disabled="!vm.isLoggedIn" ng-click="vm.onClickSendMsg($event, vm.profile.uid)">
					<md-icon md-font-set="material-icons">person_add</md-icon>
					<span hide-sm>&nbsp;送訊息</span>
				</md-button>
				<span flex="10"></span>
			</div>
		</div>
	</div>
	<md-divider class="info_container for_input" style="margin-bottom: 5px"></md-divider>
	<!-- tabs for user -->
	<md-tabs md-dynamic-height md-border-bottom md-center-tabs>
		<md-tab label="願望清單">
			<md-content layout-padding style="margin-top: 10px">
				<div layout="row">
					<div flex="70" offset="5">
						<form name="userForm">
							<div layout="column">
								<p class="fade md-subhead text-ex edit" ng-hide="vm.isReadOnly">請於下方輸入您想要的物品</p>
								<md-input-container style="margin-top: 10px;">
									<label>您想要的物品</label>
									<textarea ng-model="vm.profile.wishlist" ng-disabled="vm.isReadOnly"></textarea>
								</md-input-container>
								<md-input-container>
									<label>備註</label>
									<textarea ng-model="vm.profile.note" ng-disabled="vm.isReadOnly"></textarea>
								</md-input-container>
								<div layout="row">
									<span flex="70"></span>
									<md-button class="fade" ng-hide="vm.isReadOnly" ng-click="vm.onClickSave()">完成</md-button>
								</div>
							</div>
						</form>
						<md-button></md-button>
					</div>
					<!-- edit fab button -->
					<span flex></span>
					<div layout layout-align="center start">
						<md-button class="md-fab md-primary md-hue-2" ng-show="vm.isMe && vm.isReadOnly" ng-click="vm.onClickEdit()">
							<md-icon md-font-set="material-icons">edit</md-icon>
							<md-tooltip>編輯願望清單</md-tooltip>
						</md-button>
					</div>
					<span flex="5"></span>
				</div>
			</md-content>
		</md-tab>
		<md-tab label="等待交換">
			<md-content layout-padding>
				<div layout="column">
					<md-card class="md-whiteframe-z3" ng-repeat="goods in vm.myGoodsPending" ng-click="onClickGoods(goods.gid)">
						<md-card-content layout="row">
							<div layout layout-align="center center" style="cursor:pointer">
								<img ng-src="{{ goods.photo_path[0] }}" style="height:180px; width:auto;" />
							</div>
							<div layout="column" style="margin-left:20px;">
								<div layout="row" layout-align="center start">
									<h2 style="margin: 10px 0;">{{ goods.name }}</h2>
								</div>
								<p>{{ goods.description }}</p>
							</div>
						</md-card-content>
					</md-card>
					<md-card class="md-whiteframe-z3" ng-click="onClickGoods(goods.gid)">
						<md-card-content layout="row" style="cursor:pointer">
							<div layout layout-align="center center">
								<img ng-src="{{ vm.photo_path.largePic }}" style="height:180px; width:auto;" />
							</div>
							<div layout="column" style="margin-left:20px;">
								<div layout="row" layout-align="center start">
									<h2 style="margin: 10px 0;">{{ goods.name }}</h2>
								</div>
								<p>{{ goods.description }}</p>
							</div>
						</md-card-content>
					</md-card>
				</div>
			</md-content>
		</md-tab>
		<md-tab label="已交換">
			<md-content layout-padding>
				<div layout="row" layout-sm="column" layout-align="center center" class="info_container for_input">
					<md-card class="md-whiteframe-z3" ng-repeat="goods in vm.myGoodsExchanged" ng-click="onClickGoods(goods.gid)">
						<md-card-content layout="row">
							<div layout layout-align="center center" style="cursor:pointer;">
								<img ng-src="{{ goods.photo_path[0] }}" style="height:180px; width:auto;" />
							</div>
							<div layout="column" style="margin-left:20px;">
								<div layout="row" layout-align="center start">
									<h2 style="margin: 10px 0;">{{ goods.name }}</h2>
								</div>
								<p>{{ goods.description }}</p>
								<div layout="row" layout-align="center start">
									<div ng-repeat="n in vm.getNumber(goods.rate) track by $index">
										<img src="../../images/star-on.svg" />
									</div>
									<div ng-repeat="n in vm.getNumber(5 - goods.rate) track by $index">
										<img src="../../images/star-off.svg" />
									</div>
								</div>
							</div>
						</md-card-content>
					</md-card>
				</div>
			</md-content>
		</md-tab>
	</md-tabs>
</md-content>

