body {
  overflow: hidden;
}
#container {
  margin-top: -$navbar-height;
  padding-top: $navbar-height;
}

md-toolbar{
  z-index: 1000;
}

#autocomplete {
  margin-left: 20px;
  margin-top: 5px;
  input {
    margin-left: 25px;
    @include placeholder {
      color: #fff;
    }
  }
}
