body {
  overflow: hidden;
}
#container {
  margin-top: -$navbar-height;
  padding-top: $navbar-height;
}
//.unselectable {
//    @include user-select(none);
//}
#autocomplete {
  margin-left: 20px;
  margin-top: 5px;
  input {
    margin-left: 25px;
    @include placeholder {
      color: #fff;
    }
  }
}
