.navbar
{
  .dropdown-menu{
    margin-top: -1px;
    @include border-radius(0px 0px);
  }
}

@media (min-width: $md) {
    md-sidenav,
    md-sidenav.md-locked-open,
    md-sidenav.md-closed.md-locked-open-add-active {
        min-width: 470px !important;
        width: 38.1966011vw !important;
        max-width: none !important;
    }
}

@media (max-width: $md) {
    md-sidenav,
    md-sidenav.md-locked-open,
    md-sidenav.md-closed.md-locked-open-add-active {
        min-width: 80vw !important;
        max-width: none !important;
    }
}
